.content {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.main {
}

.main {
  flex: 1;
  width: calc(100% - 260px);
  height: calc(100vh - 64px);
  padding: 10px;
  padding-top: 20px;
  padding-left: 290px;
  overflow-x: hidden;
  background: url("assets/imgs/main_bar_navy.png") no-repeat top;
  background-size: 100% 69px;
  background-color: #eef2f9;
}
