.tabContainer {
  display: flex;
  flex-direction: column;
}

.tabButton button {
  width: 200px;
}

.tabContents {
  width: 100%;
  height: 400px;
  background-color: #ffffff;
  overflow: hidden;
  border-radius: 12px;
  overflow: auto;
}

.checkBox {
  background-color: #eee;
  border-radius: 6px;
}

.chkTitle {
  line-height: 2.5 !important;
}

.title {
  font-size: 15px;
}

.title svg {
  font-size: 20px;
  vertical-align: sub;
}
