.action {
  padding-top: 20px !important;
  padding-bottom: 10px !important;
  overflow: hidden;
  float: right;
}

.gridBox {
  padding-top: 70px !important;
  border-top: 1px solid #ddd;
}

.inputGroup {
  width: 100%;
  height: 40px;
  padding: 4px 16px;
  border: 1px solid #c3c3c3 !important;
  border-radius: 20px !important;
}
