/************Layout************/
.content {
  display: flex;
  flex-direction: row;
  overflow: auto;
  background: url("assets/imgs/main_bar_navy.png") no-repeat top;
  background-size: 100% 69px;
  background-color: #eef2f9;
}

.defaultContent {
  flex: 1;
}

.main {
  flex: 1;
  margin-right: 15px;
  margin-bottom: 15px;
}

.contentBox {
  width: 100%;
  height: calc(100% - 50px);
  background-color: #ffffff;
  border-radius: 12px;
  overflow: hidden;
}

.resizerX {
  position: absolute;
  top: 0;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  cursor: row-resize;
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
}

.resizerY {
  position: absolute;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  background-color: #ccc;
  cursor: col-resize;
  border-right: 2px solid transparent;
  border-left: 2px solid transparent;
  /* border-right: 2px solid #ccc;
  border-left: 2px solid #ccc; */
}
